* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #f0f0f0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #d6cac7, #feb47b, #2f4d46, #970909, #ffb3ba);
    background-size: 400% 400%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    color:#2f2f2f;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.todo-app:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}


.todo-app h2{
    color :rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    
    justify-content: center;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    border: none;
    outline: none;
    float: 1;
    background: transparent;
    padding: 10px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(135deg, #3f3f3f, #575757);
    color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background: linear-gradient(135deg, #a79696, #3f3f3f);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
    background: linear-gradient(135deg, #2f2f2f, #4f4f4f);
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul  li{
    
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul  li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
 ul li.checked{
    color: #555;
    text-decoration: line-through;
 }

 ul li.checked::before{
    background-image: url(images/checked.png);

 }

 ul li span{
position: absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
font-size: 22px;
color: #555;
line-height: 40px;
text-align: center;
 }
 ul li span:hover{
    background: #a39e9e;
    border-radius : 50%;
 }